<!DOCTYPE html>
<html>
<style>
  .us{
  font-size:20px;
  margin-right:150px;
  margin-left:150px;
  border-left-color:grey;
  border-left-style:solid;
  padding-left:10px;
}
.u{
  margin-left:150px;
}
a{
    color:red;
  }
  </style>
   <head>
    <title>Request Header Parser Microservice</title>
    <link rel="stylesheet" href="/style.css">
   </head>

   <body>
      <h1>API Project : Request Header Parser Microservice</h1>
<div class="us">
  user stories:<ol>
  <li>) I can get the IP address, language and operating system for my browser.</li>
  </ol>
</div>
<div class="u">
  <h2>Example Usage :</h2>
  <span>
    <a href="https://req-header-parser-avi.glitch.me/api/whoami">https://req-header-parser-avi.glitch.me/api/whoami</a>
  </span>
  <h2>Example Output :</h2>
  <span>
    {"ip-address":"000.00.000.000","Language":"en-GB","Software":"OS : Linux 64, browser : Chrome"}
  </span>
</div>
   </body>
</html>
